# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
ios/Pods/
ios/build/
ios/.xcode.env.local
android/build/
android/app/build/
*.orig.*

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# env / secrets
.env
.env.local
*.p8

# misc
*.log
